@charset "utf-8";

* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: rgba(0, 0, 0, 0.925);;
	height: 100vh;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	height: 100%;
}

img {
	padding: 10px;
	margin: 0px 10px;
	border-radius: 6px;
}

img:hover {
	box-shadow: 1px 0.5px 5px 1px rgb(51, 51, 51);
}